{% extends 'AxipiBlogBundle::base.html.twig' %}

{% block main %}
    <!-- Blog / Post -->
    <div class="row">
        <div class="col-lg-12">
            {{ convertText(page.attribute('description')|raw) }}
        </div>
    </div>
    <!-- Blog / Post (end) -->
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
