a:link, a:visited {
	color: #757575;
	text-decoration: none;
}
.mdl-layout__header-row a {
	margin-left: 10px;
}
.mdl-layout__header-row a:first-child {
	margin-left: 10px;
}
.mdl-grid {
	width: inherit
}
.mdl-card {
	min-height: auto;
}
.mdl-card__title {
	padding: 8px;
}
.mdl-card__title-text {
	font-size: 18px;
}
.mdl-card__title-text span {
	margin-right: 15px;
}
.mdl-card__title-text a:link, .mdl-card__title-text a:visited {
	text-decoration: underline;
}
.mdl-card__title-text span:last-child {
	margin-right: 0px;
}
.mdl-card .mdl-card__actions {
	text-align: right;
}
.mdl-button {
	padding: 0px 8px;
}


.mdl-tabs__tab i.fa, .mdl-list__item i.fa, .mdl-card__title-text i.fa, .mdl-card__actions i.fa {
	margin-right: 5px;
}
.mdl-card__supporting-text {
	padding: 0px 8px;
}
.mdl-card__supporting-text.mdl-grid .mdl-cell--2-col {
	padding: 0px;
	text-align: center;
}
.mdl-card__supporting-text.mdl-grid .mdl-cell--2-col a {
	display: block;
	line-height: 1.9;
	overflow: hidden;
	padding: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mdl-tabs__panel {
	display: none;
}

p {
	margin: 8px 0px;
}
label, .label {
	display: block;
	font-weight: bold;
}
