<!-- Content / Block -->
<section class="widget{% if widget.attribute('section_class') %} {{ widget.attribute('section_class') }}{% endif %}" id="widget-{{ widget.id }}">
    {% if widget.attribute('display_title')|default(false) %}
        <header>{{ widget.title }}</header>
    {% endif %}

    {{ convertText(widget.attribute('description')|raw) }}
</section>
<!-- Content / Block (end) -->
