<!-- Content / Block -->
<div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('col-lg-12') }}">
    {{ widget.attribute('description')|raw }}
</div>
<!-- Content / Block (end) -->
