{% import '@AxipiContent/Widget/breadcrumbs_macro.html.twig' as helper %}
<!-- Content / Breadcrumbs -->
{% if page.parent %}
    <div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('col-lg-12') }}">
        <ol class="breadcrumb">
            {% if page.parent %}
                {{ helper.breadcrumbs_loop(page.parent) }}
            {% endif %}
            <li>{{ page.title }}</li>
        </ol>
    </div>
{% endif %}
<!-- Content / Breadcrumbs (end) -->
