{% macro breadcrumbs_loop(object) %}
    {% import _self as helper %}

    {% if object.parent %}
        {{ helper.breadcrumbs_loop(object.parent) }}
    {% endif %}

    <li><a href="{{ buildLink(object) }}">{{ object.title }}</a></li>
{% endmacro %}
