<!-- Content / Block -->
{% if widget.attribute('inside_div') %}
    <div class="widget{% if widget.attribute('div_class') %} {{ widget.attribute('div_class') }}{% endif %}" id="widget-{{ widget.id }}">
        {{ widget.attribute('description')|raw }}
    </div>
{% else %}
    {{ widget.attribute('description')|raw }}
{% endif %}
<!-- Content / Block (end) -->
