<!-- Content / Block -->
{% if widget.attribute('inside_div') %}
    <section class="widget{% if widget.attribute('section_class') %} {{ widget.attribute('section_class') }}{% endif %}" id="widget-{{ widget.id }}">
        {{ widget.attribute('description')|raw }}
    </section>
{% else %}
    {{ widget.attribute('description')|raw }}
{% endif %}
<!-- Content / Block (end) -->
