<!-- Content / Block -->
{% if widget.attribute('inside_div') %}
    <div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('col-lg-12') }}">
        {{ widget.attribute('description')|raw }}
    </div>
{% else %}
    {{ widget.attribute('description')|raw }}
{% endif %}
<!-- Content / Block (end) -->
