<!-- Content / Language Selector -->
<div id="widget-{{ widget.code }}" class="col-lg-2 pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for language in languages %}
                <li{% if page.language.code == language.code %} class="active"{% endif %}><a href="{{ buildLink({'language': language.code, 'slug': ''}) }}">{{ language.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Content / Language Selector (end) -->
