<!-- Content / Menu -->
<ul id="widget_ofgv-menu-navbar-header" class="nav navbar-nav">
    <li><a href="{{ path('axipi_core_slug', {slug: 'home'}) }}">Home</a></li>
    <li><a href="{{ path('axipi_core_slug', {slug: 'album'}) }}">Album</a></li>
    <li><a href="{{ path('axipi_core_slug', {slug: 'map'}) }}">Map</a></li>
    <li><a href="{{ path('axipi_core_slug', {slug: 'blog'}) }}">Blog</a></li>
    <li><a href="#">TODO</a></li>
</ul>
<!-- Content / Menu (end) -->
